@font-face {
  font-family:'Mi fuente';
  src: url(../fuentes/fuente1.ttf);
}
@font-face {
  font-family: 'Otra fuente';
  src: url(../fuentes/fuente2.ttf);
}
body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  margin: 0%;
}

h1, h2{
  margin: 0;
}

div, h1, h2, p{
  color: white;
  font-size: 30px;
}
.text-black{
  color: black;
}

.menu{
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 10px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
}
.menu.painted {
  background-color: rgba(0, 0, 0, 0.85);
  box-shadow: 0px 4px 10px gray;
  color: black;
}
.elementos-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 2em;
  font-size: 35px;
  font-family: 'Mi fuente';
  border-radius: 9em;
  margin: 8px 5px 8px 5px;
}
.elementos-menu:hover{
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
  text-decoration: underline;
}


.imagen-perfil{
  height: 200px;
  border-radius: 50%;
  margin: 1em;
}
.imagen-perfil:hover{
  box-shadow: 20px 20px 10px rgba(0,0,0,0.2);
  height: 210px;
}

.titulo{
  background-image: linear-gradient(135deg, #00B7D4, #505488, #445bb6, #672d9e, #5A4894, #A950A1, #FF7CAE);
  background-size: 500%;
  animation: animado 10s infinite;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes animado{
  0%{
    background-position: 0%, 50%;
  }
  50%{
    background-position: 100%, 50%;
  }
  100%{
    background-position: 0%, 50%;
  }
}
.titulos{
  font-family: 'Mi fuente';
  text-align: center;
  font-size: 270%;
}
.sobre-mi{
  padding: 5em 12em 5em 12em;
  background-color: fuchsia;
  text-align: justify;
  font-family: 'Otra fuente';
  font-weight: bold;
}
.sub-titulos{
  font-family: 'Mi fuente';
  text-align: center;
  font-size: 180%;
}

.texto-iconos{
  font-family: 'Otra fuente';
  font-size: 80%;
}
.iconos{
  padding-right: .5em;
  display: flex;
  justify-content: center;
}

#techSkills{
  background-image: linear-gradient(135deg, #00B7D4, #505488, #445bb6, #672d9e, #5A4894, #A950A1, #FF7CAE);
  background-size: 500%;
  animation: animado 10s infinite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em 5em 2em 5em;
  
}
.contenedor-tech-skills{
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}
.tech-skill{
  background-color: white;
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  color: black;
  padding: 1em;
}
.tech-skill:hover{
  box-shadow: 0 30px 30px rgba(0,0,0,0.2);
}
.table-skills{
width: 100%;
margin-top: 1em;
}








.contenedor-tech-skills.slides {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0px;
    width: 100%;
  }
}
